:root {
    --primary-font: "Roboto",
        sans-serif;
    --primary-color: #434455;
    --primary-background-color: #FFFFFF;
    --logo-first-color: #4d5ae5;
    --logo-second-color: #2e2f42;
    --address-color: #434455;
    --section-background-color: #2e2f42;
    --footer-color: #F4F4FD;
    --body-color: #434455;
        --fist-logo-color: #4d5ae5;
        --second-logo-color: #2e2f42;
        --address-color: #434455;
        --button-collor: #4d5ae5;
        --button-background-color: #F4F4FD;
        --button-exlusive-color: #e7e9fc;
        --grey: #2E2F42B2;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    color: var(--body-color);
}
ul {
    padding: 0;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-first-color);
    margin-right: 76px;
}
.link {
    text-decoration: none;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header-second-logo {
    color: var(--logo-second-color);
}
.header-bar {
    font-weight: 500;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-second-color);
    padding: 24px 0;
    display: block;
}
.header-bar.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.active {
    color: #404bbf;
    color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.header-address {
    font-style: normal;
    margin-left: auto;
}
.header-address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    color: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-span-logo {
    color: var(--second-logo-color);
    color: #f4f4fd;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hero-section {
    background-color: var(--section-background-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}
.bttn-hero {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 48px;
    
}
.bttn-hero:hover,
.bttn-hero:focus {
    background-color: #404BBF;
}
.features-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-second-color);
    margin-bottom: 8px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.page-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-second-color);
    margin-bottom: 72px;
}
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-second-color);
    margin-bottom: 72px;
}
.personal-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.position-item {
    padding: 32px 16px;

}
.name-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-second-color);
    text-align: center;
    margin-bottom: 8px;


}
.work-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    text-align: center;

}
.footer-options {
    background-color: var(--section-background-color);
    padding: 100px 0;

}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-first-color);
    display: inline-block;
    margin-bottom: 16px;
}
.logo-item {
    color: #f4f4fd 
}
.footer-text {
    line-height: 1.5;
    color: var(--footer-color);
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-item {
    background-color: var(--second-logo-color);
        padding: 100px 0;
}
.bttn-all:hover,
.bttn-all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
    border: 1px solid transparent;
}
.image-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-logo-color);
    margin-bottom: 8px;
}
.image-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}
.bttn-all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-collor);
    background-color: var(--button-background-color);
    padding: 12px 24px;
    border: 1px solid var(--button-exlusive-color);
    border-radius: 4px;
}
.header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.header-container {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-container {
    display: flex;
    align-items: center;
}
.menu-container {
    
    gap: 40px;
    display: flex;
}
.address-container {
    display: flex;
    gap: 40px;
}
img {
    display: block;
}
.features-section {
    padding: 120px 0;
}
.features-container {
    display: flex;
    gap: 24px;
}
.features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.doing-section {
    padding-bottom: 120px;
}
.doing-container {
    display: flex;
    gap: 24px;
}
.doing-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}
.team-container {
    display: flex;
    gap: 24px;

}
.personal-container {
    padding: 32px 16px;
}
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-types {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-style {
    width: calc((100% - 48px) / 3);
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}